[submodule "do/chatgpt-prompts"]
	path = do/chatgpt-prompts
	url = https://github.com/TipTopBin/awesome-chatgpt-prompts
[submodule "do/chatgpt-prompts-zh"]
	path = do/chatgpt-prompts-zh
	url = https://github.com/TipTopBin/awesome-chatgpt-prompts-zh.git
