
[submodule "do/dair-pe-guide"]
	path = do/dair-pe-guide
	url = https://github.com/TipTopBin/Prompt-Engineering-Guide.git
[submodule "do/sage-pe-play"]
	path = do/sage-pe-play
	url = https://github.com/TipTopBin/prompt-engineering-playground-with-sagemaker
